################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/x64/

/x64/Debug/

/x64/Release/

Item_Library_Test/x64

Item_Library_Test/x64/Debug

Item_Library_Test/x64/Release

